.note{
	font-size: 7px;
	color: #767676;
	text-transform: uppercase;
}

.range{
	display: inline-block;
	-webkit-appearance: none;
	background: #cdcdce;
	border-bottom: 1px solid #67686a;
	height: 1px;
	vertical-align: middle;
	width: 235px;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		border: 1px solid #efefef;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
		@include background-image(linear-gradient(#efefef, #a8a8a8));
		// background-position: 50%;
		cursor: pointer;
	}
}

.choosespace{
	position: relative;
	@extend %blackbox;
	height: 207px;
	margin-bottom: 22px;
	.row{
		&.row_narrow{
			width: 180px;
			margin: 0 auto 15px auto;
		}
	}
	.note{
		margin-top: 14px;
	}
	.range{
		margin: 31px 0 6px;
	}
}
	.choosespace__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 66px;
	}
	.choosespace__icon{
		@include sized-sprite($icons, choosespace);
		display: inline-block;
		margin-top: 9px;
		margin-bottom: 21px;
	}
	.choosespace__space,
	.choosespace__plan{
		display: inline-block;
		height: 28px;
		line-height: 28px;
		background: #000;
		width: 141px;
		text-align: center;
		border-radius: 20px;
	}
		.choosespace__space{
			margin-right: 2px;
		}

.ownerinfo{
	position: relative;
	@extend %blackbox;
	height: 177px;
	.note{
		padding-top: 2px;
	}
}
	.ownerinfo__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 66px;
	}
	.ownerinfo__icon{
		@include sized-sprite($icons, individual);
		display: inline-block;
		margin-top: 1px;
		margin-bottom: 12px;
	}

.checkout{
	position: relative;
	@extend %blackbox;
	height: 467px;
	.note{
		width: 200px;
		margin: 0 auto 8px;
	}
}
	.checkout__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 66px;
	}
	.checkout__icon{
		@include sized-sprite($icons, checkout);
		display: inline-block;
		margin-top: 17px;
		margin-bottom: 63px;
	}
	.checkout__space{
		border-bottom: 1px solid #58595b;
		width: 174px;
		margin: 0 auto 12px;
		padding-bottom: 12px;
	}
	.checkout__pay{
		small{
			text-transform: uppercase;
			display: block;
			font-size: 11px;
		}
		strong{
			font-size: 23px;
			font-weight: normal;
			span{
				display: inline-block;
				font-size: 10px;
				vertical-align: top;
				padding-top: 4px;
				margin-right: 2px;
			}
		}
	}
	.checkout__note{
		font-size: 7px;
		color: #767676;
		text-transform: uppercase;
		margin-bottom: 72px;
	}
	.checkout__purchasebutton{
		@include sized-sprite($icons, signup);
		text-align: center;
		display: inline-block;
		height: 45px;
		line-height: 45px;
		text-transform: uppercase;
		color: #fff;
		font-size: 12px;
		text-align: left;
		margin-left: 20px;
		a{
			display: block;
			text-decoration: none;
			color: #fff;
			padding-left: 38px;
		}
	}
	.checkout__chargify{
		position: absolute;
		bottom: 11px;
		left: 29px;
		@include sized-sprite($icons, chargify);
		content: "";
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.checkout__secure{
		text-transform: uppercase;
		position: absolute;
		right: 15px;
		bottom: 17px;
		font-size: 7px;
		color: #b5b5b6;
		i{
			@include sized-sprite($icons, secure);
			display: inline-block;
			margin-left: 8px;
			vertical-align: top;
			margin-top: -3px;
		}
	}

.projectinfo{
	position: relative;
	@extend %blackbox;
	height: 377px;
	margin-bottom: 30px;
	.ownerinfo__icon{
		margin-top: 0;
		margin-bottom: 9px;
	}
}
	.projectinfo__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 66px;
	}
	.projectinfo__icon{
		@include sized-sprite($icons, choosespace);
		display: inline-block;
		margin-top: 9px;
		margin-bottom: 18px;
	}
	.projectinfo__title{
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 13px;
	}
	.projectinfo__space{
		border-bottom: 1px solid #58595b;
		width: 174px;
		margin: 0 auto 12px;
		padding-bottom: 12px;
	}
	.projectinfo__note{
		font-size: 7px;
		color: #767676;
		text-transform: uppercase;
		margin-bottom: 32px;
	}
	.projectinfo__ownertitle{
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 8px;
	}
	.projectinfo__ownertxt{
		color: #767676;
		font-size: 10px;
		text-transform: uppercase;
	}
	.projectinfo__buttons{
		margin-top: 27px;
	}
		.projectinfo__getbutton{
			display: inline-block;
			width: 141px;
			height: 29px;
			line-height: 29px;
			text-transform: uppercase;
			font-size: 12px;
			color: #fff;
			background: #52b5b7;
			border-radius: 10px;
			margin-right: 18px;
			a{
				display: block;
				height: 100%;
				width: 100%;
				text-decoration: none;
				color: #fff;
			}
		}
		.projectinfo__ownershipbutton{
			display: inline-block;
			width: 141px;
			height: 29px;
			line-height: 29px;
			text-transform: uppercase;
			font-size: 12px;
			color: #fff;
			background: #52b5b7;
			border-radius: 10px;
			a{
				display: block;
				height: 100%;
				width: 100%;
				text-decoration: none;
				color: #fff;
			}
		}

.manage{
	position: relative;
	@extend %blackbox;
	height: 377px;
	margin-bottom: 30px;
}
	.manage__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 66px;
	}
	.manage__tools{
		position: absolute;
		top: 12px;
		right: 15px;
		@include sized-sprite($icons, tools);
		display: block;
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.manage__content{
		position: relative;
		margin-top: 10px;
		margin-bottom: 11px;
		background: #e3e3e3;
		color: #000;
		padding: 20px 10px;
		min-height: 275px;
	}
	.manage__meta{
		@extend %clr;
		border-bottom: 2px solid #c9c9c9;
		padding: 0 9px 12px 18px;
		margin-bottom: 10px;
	}
	.manage__name{
		float: left;
		text-transform: uppercase;
		font-size: 11px;
	}
	.manage__status{
		float: right;
		text-transform: uppercase;
		color: #808080;
		font-size: 10px;
	}
	.manage__addmember{
		margin-left: 5px;
		text-align: left;
		color: #808080;
		font-size: 11px;
		i{
			display: inline-block;
			@include sized-sprite($icons, member);
			vertical-align: top;
			margin-right: 4px;
			margin-top: 8px;
		}
		input{
			width: 275px;
			padding: 0 8px;
			border: none;
			height: 23px;
			text-transform: uppercase;
			color: #808080;
			border-radius: 10px;
			font-size: 11px;
			outline: 0;
		}
	}
	.manage__invitebutton{
		display: inline-block;
		width: 141px;
		height: 29px;
		line-height: 29px;
		text-transform: uppercase;
		font-size: 12px;
		color: #fff;
		background: #52b5b7;
		border-radius: 10px;
		a{
			display: block;
			height: 100%;
			width: 100%;
			text-decoration: none;
			color: #fff;
		}
	}

.tools{
	position: relative;
	@extend %blackbox;
	height: 377px;
	margin-bottom: 150px; //tmp
}
	.tools__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 253px;
	}
	.tools__content{
		position: relative;
		margin-top: 10px;
		margin-bottom: 11px;
		background: #e3e3e3;
		color: #000;
		padding: 20px 10px;
	}
	.tools__meta{
		@extend %clr;
		border-bottom: 2px solid #c9c9c9;
		padding: 0 9px 12px 18px;
		margin-bottom: 40px;
	}
	.tools__name{
		float: left;
		text-transform: uppercase;
		font-size: 11px;
	}
	.tools__status{
		float: right;
		text-transform: uppercase;
		color: #808080;
		font-size: 10px;
	}
	.tools__info{
		width: 415px;
		margin: 0 auto 30px;
		background: #e9e9e9;
		border-radius: 10px;
		a{
			display: block;
			padding: 25px 0;
			text-decoration: none;
		}
	}
	.tools__pen{
		@include sized-sprite($icons, pen);
		margin: 8px auto 24px;
	}
	.tools__title{
		font-size: 17px;
		text-transform: uppercase;
		color: #c6c6c6;
		margin-bottom: 6px;
	}
	.tools__text{
		text-transform: uppercase;
		color: #939393;
		font-size: 11px;
	}
	.tools__buttons{
		@extend %clr;
		margin: 0 20px;
	}
	.tools__visit{
		float: left;
		display: inline-block;
		width: 141px;
		height: 29px;
		line-height: 29px;
		text-transform: uppercase;
		font-size: 12px;
		color: #fff;
		background: #52b5b7;
		border-radius: 10px;
		a{
			display: block;
			height: 100%;
			width: 100%;
			text-decoration: none;
			color: #fff;
		}
	}
	.tools__save{
		float: right;
		display: inline-block;
		width: 141px;
		height: 29px;
		line-height: 29px;
		text-transform: uppercase;
		font-size: 12px;
		color: #fff;
		background: #52b5b7;
		border-radius: 10px;
		a{
			display: block;
			height: 100%;
			width: 100%;
			text-decoration: none;
			color: #fff;
		}
	}



.logo__external{
	a{
		display: inline-block;
		@include sized-sprite($icons, ci_large);
		@extend %hide-text;
		margin-bottom: 8px;
	}
}

.l-external{
	@extend %Clr;
	width: 100%;
	display: inline-block;
	.l-external-col1{
		float:left;
		width: 180px;
		margin-left: 15px;
	}

	.l-external-col2{
		float:right;
		width: 180px;
		margin-right: 15px;
	}
}
.wrap_external{
	width: 415px;
}

.contact{
	position: relative;
	@extend %blackbox;
	border-radius: 0;
	height: 139px;
	margin-bottom: 32px;
}
	.contact__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 106px;
	}
	.contact__icon{
		@include sized-sprite($icons, group);
		display: inline-block;
		margin-top: -3px;
		margin-bottom: 23px;
	}


.billing{
	position: relative;
	@extend %blackbox;
	border-radius: 0;
	height: 317px;
	margin-bottom: 12px; //tmp
	.note{
		margin-bottom: 5px;
	}
}
	.billing__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 106px;
	}
	.billing__icon{
		@include sized-sprite($icons, checkout);
		display: inline-block;
		margin-top: -3px;
		margin-bottom: 28px;
	}
	.billing__space{
		border-bottom: 1px solid #58595b;
		width: 174px;
		margin: 0 auto 12px;
		padding-bottom: 12px;
	}
	.billing__pay{
		small{
			text-transform: uppercase;
			display: block;
			font-size: 11px;
		}
		strong{
			font-size: 23px;
			font-weight: normal;
			span{
				display: inline-block;
				font-size: 10px;
				vertical-align: top;
				padding-top: 4px;
				margin-right: 2px;
			}
		}
	}
	.billing__note{
		font-size: 7px;
		color: #767676;
		text-transform: uppercase;
	}
	.billing__slash{
		color: #767676;
		font-size: 9px;
		margin: 0 3px;
	}
	.billing__secure{
		text-transform: uppercase;
		position: absolute;
		right: 0px;
		top: -21px;
		font-size: 7px;
		color: #ffffff;
		i{
			@include sized-sprite($icons, secure);
			display: inline-block;
			margin-left: 8px;
			vertical-align: top;
			margin-top: -3px;
		}
	}

	.select {
		display: inline-block;
		position: relative;
		width: 80px;
		select{
			position: absolute;
			opacity: 0;
			height: 23px;
			-webkit-appearance: none;
			width: 100%;
			z-index: 3;
			top: 0;
			left: 0;
			text-transform: uppercase;
			cursor: pointer;
		}
		i {
			position: absolute;
			right: 12px;
			top: 9px;
			display: inline-block;
			z-index: 3;
			@include sized-sprite($icons, select);
		}
	}
	.select__value{
		width: 100%;
		color: #808080;
		text-transform: uppercase;
	}

	.external__purchasebutton{
		@include sized-sprite($icons, signup);
		display: inline-block;
		float: right;
		height: 45px;
		line-height: 45px;
		text-transform: uppercase;
		color: #fff;
		font-size: 12px;
		text-align: left;
		margin-right: -13px;
		margin-bottom: 100px; //tmp
		a{
			display: block;
			text-decoration: none;
			color: #fff;
			padding-left: 68px;
		}
	}
