@import "lib/base";
// # SHORT HOWTO
// ## Sprites
//     .whatever{
//         @include sized-sprite($icons, badge_hit); //or
//         @include s($i, badge_hit);
//     }
// ### animation example
//     @include keyframes(rotate) {
//        from {
//           @include rotate(0);
//        }
//        to {
//           @include rotate(360);
//         }
//     }
// ## animation usage
//     body:hover{
// 	    @include animation(rotate 200s linear infinite);
//     }
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in);
// ## gradient example
//     @include background-image(linear-gradient(#232323, #5c5c5c));
// ## making bw-images
//     img{@extend %gray;}
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     @min-screen(320){ css goes here}
// @max-screen(1000), @iphone5, @iphone4, @ipad-retina, @ipad, @hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3 {
//       .item-#{$i} { width: 2em * $i; }
//     }
//     @each $s in a,b,c{
// 	    #{$s}
//     }
// BTW these comments will not render into css
// for awesomeness use . class. Example:
// .{beer:everything}

//*{-webkit-transition: .3s all;}
html,body{
	height: 100%;
}
*{margin:0;padding:0; }
@include iphone{*{-webkit-text-size-adjust: none;}}
button::-moz-focus-inner { padding: 0; border: 0 }
input[type="submit"]::-moz-focus-inner { padding: 0; border: 0 }

body{
	@include lite();
	font-size: 12px;
	font-weight: normal;
	line-height:1.4;
	background: #939597;
	min-width: 900px;
	//min-height: 500px;
	padding-top: 85px;
	padding-bottom: 60px;
	text-rendering: optimizeLegibility;
	position: relative;
	@include box-sizing(border-box);
	&.b-dashboard{
		padding-bottom: 0;
	}
}
.wrapsite{
	overflow: hidden;
}

// resets
a img,fieldset{
	border:none;
}
.h2{
	font-size: 17px;
	@include lite;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 5px;
	&.h2_center{
		text-align: center;
	}
}
%blackbox{
	background: #313133;
	border-radius: 15px;
	color: #fff;
	padding: 23px 0 10px 0;
	text-align: center;
}


//footer
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	height: 47px;
	background: #76797A;
	.is-first &{
		background: transparent;
	}
	.footer__copy{
		text-align: center;
		height: 47px;
		line-height: 47px;
		font-size: 10px;
		text-transform: uppercase;
		color: #AAACAC;
	}
	.footer__logo{
		position: absolute;
		top: 19px;
		right: 29px;
		@include s($icons, sony);
		@extend %hide-text;
		opacity: .4;
		@include transition(all .1s);
		&:hover{
			opacity: 1;
		}
	}
}


//scroll
/*scroll*/
.jspContainer
{
	overflow: hidden;
	position: relative;

}
.jspPane
{
	position: absolute;
	width: 100% !important;
}
.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 12px;
	width: 8px;
	height: 100%;  
	opacity: .1;
	@include transition(opacity,.2s,linear);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	.jspScrollable:hover &{
	  opacity: 1;
	}
	.nav &{
	  right: auto;
	  left: 2px;
	  width: 8px;
	  z-index:100;
	}
	.topic &{
	  right: 8px;
	}
	.content &{
	  right: 5px;
	}
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
	display: none;
}
.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}
.jspCap
{
	display: none;
}
.jspHorizontalBar .jspCap
{
	float: left;
}
.jspTrack
{
	width: 4px;
	@include border-radius(2px);
	position: relative;
}
.jspDrag
{
	background: rgba(black,.2);
	position: relative;
	top: 0;
	left: 2px;
	width: 8px;
	@include border-radius(4px);
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}
.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow
{
	height: 16px;
}
.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus
{
	outline: none;
}
.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}
* html .jspCorner
{
	margin: 0 -3px 0 0;
}