@import "lib/base";

.signupsplash{
	position: fixed;
	top: 55px;
	bottom: 0px;
	@include box-sizing(border-box);
	left: 0;
	right: 0;
	//@include background-image(linear-gradient(#231F20, #353639));
	background: url(../img/bg.jpg) no-repeat 50% 50%;
	@include background-size(cover);
	@include transition(all 300ms ceaser($ease-in));
	z-index: 1001;
	.is-loginshow &{
		@include translate(0, -600px);
		opacity: 0;
		z-index: 1;
	}
	.signupsplash__inner{
		width: 840px;
		text-align: right;
		margin: 0 auto;
	}
	.signupsplash__form{
		position: absolute;
		width: 300px - 35px - 38px;
		top: 130px;
		background: rgba(#000, .4);
		color: #fff;
		padding: 30px 35px 20px 38px;
		h2{
			font-size: 29px;
			font-weight: normal;
			text-align: left;
			line-height: 1.1;
			margin-bottom: 28px;
			span{
				font-size: 13px;
				display: block;
				padding-top: 7px;
			}
		}
	}
	.signupsplash__signup{
		text-align: left;
		span{
			font-size: 22px;
			padding-bottom: 7px;
			display: block;
		}
		a{
			@include s($icons, signup);
			line-height: 44px;
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			padding-left: 23px;
			width: auto;
			display: block;
		}
	}
}
.login{
	margin-top: 25px;
	text-align: center;
	width: 177px;
	margin: 27px auto 0 auto;
	h3{
		font-size: 13px;
		text-align: center;
		margin-bottom: 8px;
	}
}
.wrap{
	width: 840px;
	margin: 0 auto;
	@include transition(all 400ms ceaser($easeInOutBack));
	@include transition-delay(200ms);
	@include translate(2000px, 0);
	.is-loginshow &,&.wrap_here{
		@include translate(0, 0);
	}
	&.wrap_narrow{
		width: 700px;
	}
	&.wrap_wide{
		width: auto;
		margin: 0 73px;
		&>.h2{
			margin-bottom: 17px;
		}
	}
}
.step{
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 19px;
	span{
		display: inline-block;
		width: 29px;
		height: 29px;
		line-height: 29px;
		border-radius: 50%;
		background: #76797A;
		color: #fff;
		font-size: 10px;
		text-align: center;
		vertical-align: middle;
		margin-right: 18px;
		position: relative;
		top: -2px;
	}
}
.plans{
	width: 488px;
	float: left;
	position: relative;
	.plans__separator{
		position: absolute;
		height: 450px;
		bottom: 0;
		right: -68px;
		border-left: 1px dashed #B3B5B7;
	}
}
.singupcolumn{
	float: right;
	width: 213px;
}
.plan{
	width: 214px;
	height: 409px;
	position: relative;
	@include background-image(linear-gradient(#231F20, #353639));
	@include box-sizing(border-box);
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	padding-top: 18px;
	.plan__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 9px;
		display: none;
	}
	.plan__selected{
		line-height: 41px;
		height: 41px;
		position: absolute;
		bottom: -41px;
		left: -4px;
		right: 0;
		
		color: #FFF;
		@include box-sizing(border-box);
		span{
			@include s($icons, selected);

			text-transform: uppercase;
			color: #fff;
			font-size: 13px;
			height: 41px;
			line-height: 41px;
			//@include
			//@include filter-gradient(#ffffff, #00000000, horizontal); 
			//@include background-image(radial-gradient(185px 185px, rgba(#fff, .4) 14px, rgba(#45555D, 0) 70px));
			//background-position: 50% 20px;
			//background-repeat: no-repeat;
			//@include background-size(50px, 50px)
			display: none;
		}
	}
	.plan__border{
		display: none;
	}
	&.plan_selected{

		.plan__shadow{
			display: block;
		}
		.plan__selected{
			span{
				display: block;
			}
		}
		.plan__border{
			border: 4px solid #76BC9D;
			position: absolute;
			height: 405px;
			width: 214px;
			left: -4px;
			top: -4px;
			z-index: -1;
			display: block;
		}
	}
	ul{
		position: relative;
		list-style: none;
		font-size: 10px;
		color: #fff;
		text-transform: uppercase;
		li{
			margin-bottom: 12px;
		}
	}
	h3{
		margin-bottom: 33px;
		position: relative;
		font-weight: normal;
		font-size: 18px;
		color: #fff;
		margin-top: 7px;
		span{
			display: block;
			font-size: 10px;
			color: #7cbf9a;
			margin-top: 5px;
		}
	}
	.plan__icon{
		position: relative;
	}
	.plan__iconindividual{
		@include s($icons, individual);
	}
	.plan__icongroup{
		@include s($icons, group);
	}
	.plan___separator{
		border-bottom: 1px solid #58595B;
		margin-bottom: 10px;
		margin-top: -20px;
		margin-right: 20px;
		margin-left: 20px;
	}
}
.plan__or{
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 5px;
}

.signup{
	width: 213px;
	height: 450px;
	position: relative;
	@include background-image(linear-gradient(#231F20, #353639));
	@include box-sizing(border-box);
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 18px 14px 0 14px;
	.signup__shadow{
		@include s($icons, shadow);
		position: absolute;
		top: 0;
		left: 9px;
	}
	.signup__icon{
		@include s($icons, bigstack);
		margin-bottom: 20px;
	}
	.signup__submit{
		height: 44px;
		line-height: 44px;
		color: #fff;
		font-size: 13px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #45555D;
		color: #FFF;
		@include box-sizing(border-box);
		&:before{
			content: ' ';
			position: absolute;
			@include s($icons, signupsubmit);
			right: -13px;
			top: 0;
		}
		input{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: -13px;
			bottom: 0;
			cursor: pointer;
			z-index: 20;
			-webkit-appearance:none;
		}
	}
}
.row{
	margin-bottom: 9px;
	position: relative;
	&.row_narrow{
		width: 180px;
		margin: 0 auto 9px auto;
	}
	input{
		background: #A6A8AB;
		text-align: center;
		text-transform: uppercase;
		font-size: 10px;
		display: block;
		padding: 5px 0;
		width: 100%;
		border-style: none;
		border-radius: 20px;
		@include placeholder-color(#808184);
		&:focus{
			background: #fff;
			outline: none;
		}
	}
	&.row_select{
		select{
			-webkit-appearance:none;
			position: absolute;
			z-index: 1;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			opacity: 0;
			width: 100%;
		}
		i{
			@include s($icons, select);
			position: absolute;
			right: 10px;
			top: 9px;
		}
	}
}
.row__radio{
	text-align: center;
	text-transform: uppercase;
	font-size: 9px;
	color: #6F7073;
	margin-top: 22px;
	a{
		color: #68A288;
	}
	i{
		@include s($icons, check);
		vertical-align: middle;
		margin-right: 7px;
		width: 19px;
		height: 19px;
		position: relative;
		top: -1px;
	}
	input{
		display: none;
		&:checked + i{
			@include s($icons, checked);
			height: 19px;
		}
	}

}
.signup__password{
	margin-top: 24px;
	margin-bottom: 42px;
	.signup__passwordstrength{
		width: 158px;
		margin: 0 auto 6px auto;
		span{
			display: block;
			font-size: 9px;
			color: #6E6F72;
			text-transform: uppercase;
			padding-bottom: 2px;
		}
	}
	.signup__passwordstrengthprogress{
		height: 4px;
		background: #58595B;
		div{
			height: 4px;
			background: #77BF9D;
		}
	}
	.row{
		margin: 0;
	}
}


