@import "lib/base";
/* default layout */
.l{
	width: 100%;
	top: 55px;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	.l__scrollme{
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
	}
	.l-projects{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 30%;
		background: #939597;
	}
	.l-projectview{
		position: absolute;
		left: 30%;
		width: 50%;
		top: 0;
		bottom: 0;
		background: #76797A;
		overflow: auto;
	}
	.l-sidebar{
		position: absolute;
		width: 25%;
		left: 0;
		top: 0;
		bottom: 0;
		background: #353639;
		overflow: auto;
	}
	.l-thumbnails{
		position: absolute;
		left: 25%;
		top: 0;
		bottom: 0;
		width: 75%;
		background: #2D2D30;
	}
	.l-projectslib{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		background: #2D2D30;
	}
	.l-sideinfo{
		position: absolute;
		width: 20%;
		right: 0;
		top: 0;
		bottom: 0;
		background: #353639;
		overflow: auto;
	}
}
.l-half{
	float: left;
	width: 330px;
}
.l-half_last{
	float: right;
}
.l-1of3{
	width: 214px;
	float: left;
	height: 410px;
}
.l-2of3{
	float: right;
	width: 416px;
	height: 410px;
}

