@import "lib/base";
.projects__new{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 10px;
	color: #D0D2D3;
	text-decoration: none;
	text-align: center;
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	background: #939597;
	.projects__newicon{
		left: 24px;
		bottom: 12px;
		@include s($icons,addproject);
		position: absolute;
	}
}

.project{
	padding: 10px 14px 10px 67px;
	height: 60px;
	@include box-sizing(border-box);
	cursor: pointer;
	position: relative;
	border-left: 5px solid #939597;
	&:hover{
		background: rgba(#fff, .1);
	}
	&.project_active{
		background: #45555D;
		position: relative;
		z-index: 100;
		&:hover{
			background: #45555D;
		}
		&.project_owner,&.project_owner:hover{
			border-left: 5px solid #77BF9D;
		}
		&.project_participant,&.project_participant:hover{
			border-left: 5px solid #248DC6;
		}
		&:before{
			content: ' ';
			@include s($icons, project_active);
			position: absolute;
			top: 0;
			right: -18px;
		}
	}
	.master{
		float: right;
	}
	
}
	.project__icon{
		@include s($icons, stack);
		position: absolute;
		bottom: 21px;
		left: 28px;
		.project_participant &{
			@include s($icons, stackpart);
			left: 28px - 4px;
		}
	}
	.project__category{
		font-size: 10px;
		color: #fff;
		margin-bottom: 4px;
		text-transform: uppercase;
		line-height: 1;
		padding-top: 0px;
	}
	.project__title{
		@include book;
		text-transform: uppercase;
		font-size: 17px;
		color: #FFFFFF;
		line-height: 1;
	}
	.project__head{
		@extend %clr;
		margin-bottom: 4px;
	}

.progress{
	height: 21px;
	border: 1px solid #fff;
	overflow: hidden;
	position: relative;
	background: #fff;
	&.progress_small{
		height: 2px;
	}
	.progress__fill{
		background: #248DC6;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		&:before{
			content: ' ';
			position: absolute;
			right: -63px;
			top: 0;
			@include s($icons, progress);
		}
	}
	&.progress_owner{
		.progress__fill{
			background: #7CBF9A;
			&:before{
				@include s($icons, progress_owner);
			}
		}
	}
	&.progress_fill{
		background: #E6EBDD;
	}
}
.master{
	display: inline-block;
	color: #FFF;
	border-radius: 10px;
	@include medium;
	width: 85px;
	text-align: center;
	height: 12px;
	line-height: 12px;
	font-size: 9px;
	text-transform: uppercase;
	background: #77BF9D;
	&.master_participant{
		background: #248DC6;
	}
}

.sproject{
	margin: 0 24px;
	padding-top: 10px;
	color: #fff;
	.master{
		float: right;
	}
	.sproject__category{
		font-size: 10px;
		padding-top: 0;
		color: #fff;
		text-transform: uppercase;
	}
	.sproject__title{
		text-transform: uppercase;
		margin-bottom: 6px;
		font-size: 17px;
		color: #fff;
	}
	.sproject__status{
		color: #F8F7F3;
		margin-left: 0;
		padding-top: 4px;
		font-size: 10px;
		text-transform: uppercase;
		b{
			@include medium;
			font-weight: normal;
		}
	}
	.progress{
		margin: -1px 0 5px 0;
	}
	.sproject__percentage{
		float: right;
		font-size: 20px;
		line-height: 1;
		color: #EEEDE9;
	}
	.progress .progress__fill{
		&:before{
			@include s($icons, progress_withfill);
		}
	}
	.sproject__pic{

		img{
			display: block;
			width: 100%;
			max-width: 100%;
			border: 1px solid #fff;
			@include box-sizing(border-box);
		}
	}
}
.b{
	margin-top: 33px;
	font-size: 12px;
	color: #FFFEF9;
	a{
		color: #FFFEF9;
		text-decoration: none;
	}
	h2{
		@include medium;
		font-size: 17px;
		font-weight: normal;
		border-bottom: 1px solid #C3C4C4;
		padding-bottom: 3px;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	&.b_notifications h2{
		width: 350px;
		position: relative;
		font-weight: normal;
		span{
			position: absolute;
			right: 0;
			bottom: 5px;
			background: #A4A6A8;
			width: 24px;
			display: inline-block;
			text-align: center;
			color: #F9F8F4;
			height: 15px;
			line-height: 15px;
			border-radius: 20px;
			font-size: 9px;
		}
	}
	&.b_notes{
		float: left;
		width: 60%;
		h2{
			width: 350px;
		}
	}
	&.b_shares{
		float: right;
		width: 34%;
	}
}
.notificationslist{
	list-style: none;
	margin-left: 6px;
	li{
		padding-left: 17px;
		position: relative;
		margin-bottom: 5px;
		&:before{
			content:' ';
			position: absolute;
			left: 0;
			top: 2px;
			@include s($icons, bul);
		}
	}
}
.shareslist{
	margin-left: 45px;
	list-style: none;
	li{
		margin-bottom: 6px;
		position: relative;
		font-size: 10px;
		padding-left: 45px;
		&:before{
			position: absolute;
			content: ' ';
			@include s($icons, usericon);
			left: 0;
			top: -2px;
		}
	}
}


.files{
	list-style: none;
	font-size: 0;
	padding: 10px 20px;
	li{
		display: inline-block;
		font-size: 10px;
		margin-right: 1px;
		margin-bottom: 8px;
		background: #262629;
		text-align: center;
		width: 100px;
		height: 125px;
		padding-top: 5px;
	}
	.files__icon{
		@include s($icons, file);
	}
}
.files__view{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	background: #262629;
	@include box-sizing(border-box);
	padding: 10px 20px 0 0;
	text-align: right;
	input{
		width: 160px;
	}
}
.uploadfiles{
	cursor: pointer;
	background: #45555D;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	padding: 0 10px;
	font-size: 10px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	margin: 0 13px 8px 13px;
	text-transform: uppercase;
	position: relative;
	.uploadfiles__icon{
		@include s($icons, upload);
		vertical-align: middle;
		margin-right: 6px;
	}
	input{
		-webkit-appearance:none;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}
.search{
	margin: 14px 15px 16px 15px;
	position: relative;
	input{
		background: #2D2D30;
		padding: 5px 5px 5px 27px;
		border-radius: 10px;
		border-style: none;
		color: #fff;
		text-transform: uppercase;
		@include placeholder-color(#6D6E71);
		width: 100%;
		@include box-sizing(border-box);
		&:focus{
			outline: none;
		}
	}
	.search__icon{
		@include s($icons, search);
		position: absolute;
		top: 6px;
		left: 8px;
	}
}
.list{
	position: relative;
	padding: 12px 12px 16px 53px;
	margin-right: 15px;
	margin-bottom: 17px;
	&:before{
		content: ' ';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 6px;
		background: #77BF9D;
		border-top-right-radius:10px;
		border-bottom-right-radius:10px;
	}
	&.list_hilite{
		background: #000;
		border-top: 2px solid #599077;
		border-right: 2px solid #599077;
		border-bottom: 2px solid #599077;
		border-top-right-radius:15px;
		border-bottom-right-radius:15px;
	}
	&.list_devices{
		li{
			position: relative;
			padding-left: 20px;
			.icon{
				position: absolute;
				left: 0;
			}
			.icon_wireless{
				@include s($icons, wireless);
			}
			.icon_wired{
				@include s($icons, wired);
				margin-top: 4px;
			}
		}
	}
	&.list_mystuff{
		border-color: #00A4C2;
		&:before{background-color: #00A4C2;}
		ul li span{color: #00A4C2;}
	}
	&.list_collaboration{
		border-color: #FE9F37;
		&:before{background-color: #FE9F37;}
		ul li span{color: #FE9F37;}
	}
	&.list_library{
		border-color: #F76334;
		&:before{background-color: #F76334;}
		ul li span{color: #F76334;}
	}
	h3{
		font-weight: normal;
		font-size: 12px;
		color: #fff;
		border-bottom: 1px solid #6F6F6F;
		padding-bottom: 6px;
		margin-bottom: 10px;
		position: relative;
		margin-bottom: 10px;
		&:before{
			content: ' ';
			position: absolute;
			display: inline-block;
			left: -25px;
			top: 0px;
			@include s($icons, devices);
			padding-bottom: 2px;
			padding-right: 1px;
		}
	}
	&.list_mystuff  h3:before{@include s($icons, mystuff);}
	&.list_collaboration h3:before{@include s($icons, collaboration);}
	&.list_library h3:before{@include s($icons, library);}
	.list__toggle{
		position: absolute;
		right: 0;
		bottom: 12px;
		@include s($icons, arrdown);
		cursor: pointer;
	}
	ul{
		list-style: none;
		li{
			margin-bottom: 8px;
			position: relative;
		}
		a{
			font-size: 10px;
			text-decoration: none;
			color: #fff;
			position: relative;
			display: block;
		}
		span{
			position: absolute;
			right: 19px;
			font-size: 9px;
			color: #77BF9D;
		}
		.parent{
			position: relative;
			.parent__icon{
				position: absolute;
				left: -17px;
				top: 3px;
				@include s($icons, arrdown);
				cursor: pointer;
			}
			&.is-inactive{
				.parent__icon{
					@include s($icons, arrright);
					top: 4px;
					left: -15px;
				}
				ul{
					display: none;
				}
			}
			ul{
				padding-top: 10px;
				li{
					padding-left: 20px;
					position: relative;
					&:before{
						content: ' ';
						position: absolute;
						left: 0;
						@include s($icons, folder);
						top: 2px;
					}
				}
			}
		}
	}
	&.list_collaboration{
		ul .parent li{
			&:before{
				@include s($icons, collaborationbul);
			}
		}
	}
}
.globalproject{
	position: relative;
	width: 220px;
	.globalproject__arrow{
		position: absolute;
		right: 0;
		top: 26px;
		@include s($icons, arrdown);
		cursor: pointer;
	}
	.globalproject__name{
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		position: relative;
		top: -1px;
	}
	.globalproject__drop{
		position: absolute;
		top: 45px;
		left: 20px;
		background: #242426;
		border: 2px solid #fff;
		width: 235px - 8px;
		padding: 4px;
		line-height: 1;
		height: auto;
		&:before{
			position: absolute;
			content: ' ';
			top: -10px;
			left: 20px;
			@include s($icons, arrtop);
		}
		h3{
			font-size: 12px;
			text-align: center;
			padding: 11px 0;
			border-bottom: 2px solid #666666;
			margin-bottom: 17px;
		}
		ul{
			list-style: none;
			margin-bottom: 30px;
			li{
				
				text-transform: uppercase;
				font-size: 10px;
				color: #A2A3A5;
				margin-bottom: 14px;
				a{
					text-decoration: none;
					position: relative;
					height: 30px;
					line-height: 30px;
					color: #A2A3A5;
					display: block;
					padding-left: 45px;
				}
			}
			.icon-generic{
				position: absolute;
				left: 11px + 4px;
				top: 2px;
				@include s($icons, icon-generic);
			}
			.icon-collaboration{
				position: absolute;
				left: 6px + 4px - 1px;
				top: -6px;
				@include s($icons, icon-collaboration);
			}
		}
		.globalproject__create{
			background: #666666;
			border-radius: 6px;
			padding: 4px 4px 4px 45px;
			height: 45px - 8px;
			line-height: 45px;
			font-size: 10px;
			text-decoration: none;
			position: relative;
			cursor: pointer;
			i{
				display: inline-block;
				position: absolute;
				left: 2px + 4px + 4px;
				top: 5px;
				@include s($icons, icon-collaboration);
			}
		}
	}
}
// .list{
// 	margin: 0 40px 35px 40px;
// 	text-transform: uppercase;
// 	dt{
// 		font-size: 12px;
// 		color: #fff;
// 		border-bottom: 1px solid #595A5D;
// 		padding-bottom: 6px;
// 		margin-bottom: 10px;
// 	}
// 	ul{
// 		list-style: none;
// 		font-size: 10px;
// 		li{
// 			margin-bottom: 10px;
// 		}
// 		a{
// 			text-decoration: none;
// 			color: #fff;
// 		}
// 		span{
// 			color: #77BF9D;
// 			font-size: 8px;
// 		}
// 		.list__active{
// 			position: relative;
// 			&:before{
// 				width: 30px;
// 				height: 9px;
// 				background: #77BF9D;
// 				left: -40px;
// 				top: 2px;
// 				position: absolute;
// 				content: ' ';
// 			}
// 		}
// 	}
// }
.dragndrop{
	width: 420px - 40px;
	margin: 40px auto 40px auto;
	border-radius: 15px;
	background: #575759;
	padding: 20px 20px 25px 20px;
	text-align: center;
	.dragndrop__icon{
		@include s($icons, file);
		margin-bottom: 20px;
	}
	.dragndrop__head{
		font-size: 17px;
		text-transform: uppercase;
		font-weight: normal;
		color: #c9c9c9;
		span{
			display: block;
			font-size: 10px;
			color: #969696;
			margin-top: 10px;
		}
	}
}


