@import "lib/base";
.projects__new{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 10px;
	color: #D0D2D3;
	text-decoration: none;
	text-align: center;
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	background: #939597;
	.projects__newicon{
		left: 24px;
		bottom: 12px;
		@include s($icons,addproject);
		position: absolute;
	}
}

.project{
	padding: 10px 14px 10px 67px;
	height: 60px;
	@include box-sizing(border-box);
	cursor: pointer;
	position: relative;
	border-left: 5px solid #939597;
	&:hover{
		background: rgba(#fff, .1);
	}
	&.project_active{
		background: #45555D;
		position: relative;
		z-index: 100;
		&:hover{
			background: #45555D;
		}
		&.project_owner,&.project_owner:hover{
			border-left: 5px solid #77BF9D;
		}
		&.project_participant,&.project_participant:hover{
			border-left: 5px solid #248DC6;
		}
		&:before{
			content: ' ';
			@include s($icons, project_active);
			position: absolute;
			top: 0;
			right: -18px;
		}
	}
	.master{
		float: right;
	}
	
}
	.project__icon{
		@include s($icons, stack);
		position: absolute;
		bottom: 21px;
		left: 28px;
		.project_participant &{
			@include s($icons, stackpart);
			left: 28px - 4px;
		}
	}
	.project__category{
		font-size: 10px;
		color: #fff;
		margin-bottom: 4px;
		text-transform: uppercase;
		line-height: 1;
		padding-top: 0px;
	}
	.project__title{
		@include book;
		text-transform: uppercase;
		font-size: 17px;
		color: #FFFFFF;
		line-height: 1;
	}
	.project__head{
		@extend %clr;
		margin-bottom: 4px;
	}

.progress{
	height: 21px;
	border: 1px solid #fff;
	overflow: hidden;
	position: relative;
	background: #fff;
	&.progress_small{
		height: 2px;
	}
	.progress__fill{
		background: #248DC6;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		&:before{
			content: ' ';
			position: absolute;
			right: -63px;
			top: 0;
			@include s($icons, progress);
		}
	}
	&.progress_owner{
		.progress__fill{
			background: #7CBF9A;
			&:before{
				@include s($icons, progress_owner);
			}
		}
	}
	&.progress_fill{
		background: #E6EBDD;
	}
}
.master{
	display: inline-block;
	color: #FFF;
	border-radius: 10px;
	@include medium;
	width: 85px;
	text-align: center;
	height: 12px;
	line-height: 12px;
	font-size: 9px;
	text-transform: uppercase;
	background: #77BF9D;
	&.master_participant{
		background: #248DC6;
	}
}

.sproject{
	margin: 0 24px;
	padding-top: 10px;
	color: #fff;
	.master{
		float: right;
	}
	.sproject__category{
		font-size: 10px;
		padding-top: 0;
		color: #fff;
		text-transform: uppercase;
	}
	.sproject__title{
		text-transform: uppercase;
		margin-bottom: 6px;
		font-size: 17px;
		color: #fff;
	}
	.sproject__status{
		color: #F8F7F3;
		margin-left: 0;
		padding-top: 4px;
		font-size: 10px;
		text-transform: uppercase;
		b{
			@include medium;
			font-weight: normal;
		}
	}
	.progress{
		margin: -1px 0 5px 0;
	}
	.sproject__percentage{
		float: right;
		font-size: 20px;
		line-height: 1;
		color: #EEEDE9;
	}
	.progress .progress__fill{
		&:before{
			@include s($icons, progress_withfill);
		}
	}
	.sproject__pic{

		img{
			display: block;
			width: 100%;
			max-width: 100%;
			border: 1px solid #fff;
			@include box-sizing(border-box);
		}
	}
}
.b{
	margin-top: 33px;
	font-size: 12px;
	color: #FFFEF9;
	a{
		color: #FFFEF9;
		text-decoration: none;
	}
	h2{
		@include medium;
		font-size: 17px;
		font-weight: normal;
		border-bottom: 1px solid #C3C4C4;
		padding-bottom: 3px;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	&.b_notifications h2{
		width: 350px;
		position: relative;
		font-weight: normal;
		span{
			position: absolute;
			right: 0;
			bottom: 5px;
			background: #A4A6A8;
			width: 24px;
			display: inline-block;
			text-align: center;
			color: #F9F8F4;
			height: 15px;
			line-height: 15px;
			border-radius: 20px;
			font-size: 9px;
		}
	}
	&.b_notes{
		float: left;
		width: 60%;
		h2{
			width: 350px;
		}
	}
	&.b_shares{
		float: right;
		width: 34%;
	}
}
.notificationslist{
	list-style: none;
	margin-left: 6px;
	li{
		padding-left: 17px;
		position: relative;
		margin-bottom: 5px;
		&:before{
			content:' ';
			position: absolute;
			left: 0;
			top: 2px;
			@include s($icons, bul);
		}
	}
}
.shareslist{
	margin-left: 45px;
	list-style: none;
	li{
		margin-bottom: 5px;
		position: relative;
		font-size: 10px;
		padding-left: 45px;
		&:before{
			position: absolute;
			content: ' ';
			@include s($icons, usericon);
			left: 0;
			top: 0;
		}
	}
}


.files{
	list-style: none;
	font-size: 0;
	padding: 10px 20px;
	li{
		display: inline-block;
		font-size: 10px;
		margin-right: 1px;
		margin-bottom: 8px;
		background: #262629;
		text-align: center;
		width: 100px;
		height: 125px;
		padding-top: 5px;
	}
	.files__icon{
		@include s($icons, file);
	}
}
.files__view{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	background: #262629;
	@include box-sizing(border-box);
	padding: 10px 20px 0 0;
	text-align: right;
	input{
		width: 160px;
	}
}
.uploadfiles{
	cursor: pointer;
	background: #45555D;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	padding: 0 10px;
	font-size: 10px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	margin: 0 13px 8px 13px;
	text-transform: uppercase;
	position: relative;
	.uploadfiles__icon{
		@include s($icons, upload);
		vertical-align: middle;
		margin-right: 6px;
	}
	input{
		-webkit-appearance:none;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}
.search{
	margin: 0 15px 16px 15px;
	position: relative;
	input{
		background: #2D2D30;
		padding: 5px 5px 5px 27px;
		border-radius: 10px;
		border-style: none;
		color: #fff;
		text-transform: uppercase;
		@include placeholder-color(#6D6E71);
		width: 100%;
		@include box-sizing(border-box);
		&:focus{
			outline: none;
		}
	}
	.search__icon{
		@include s($icons, search);
		position: absolute;
		top: 6px;
		left: 8px;
	}
}
.list{
	margin: 0 40px 35px 40px;
	text-transform: uppercase;
	dt{
		font-size: 12px;
		color: #fff;
		border-bottom: 1px solid #595A5D;
		padding-bottom: 6px;
		margin-bottom: 10px;
	}
	ul{
		list-style: none;
		font-size: 10px;
		li{
			margin-bottom: 10px;
		}
		a{
			text-decoration: none;
			color: #fff;
		}
		span{
			color: #77BF9D;
			font-size: 8px;
		}
		.list__active{
			position: relative;
			&:before{
				width: 30px;
				height: 9px;
				background: #77BF9D;
				left: -40px;
				top: 2px;
				position: absolute;
				content: ' ';
			}
		}
	}
}



