.workspce{

}
	.workspace__holder{
		padding: 25px 50px 25px 50px;
	}
	.workspace__info{
		line-height: 1;
		@extend %clr;
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		margin-bottom: 30px;
	}
	.workspace__name{
		float: left;
		margin-right: 40px;
	}
	.workspace__updated{
		float: left;
		margin-right: 40px;
	}
	.range_workspace{
		display: inline-block;
		-webkit-appearance: none;
		background: #d7eeee;
		border-bottom: 1px solid #88cbcc;
		height: 1px;
		vertical-align: middle;
		width: 155px;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			border: 1px solid #efefef;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
			@include background-image(linear-gradient(#efefef, #a8a8a8));
			// background-position: 50%;
			cursor: pointer;
		}
	}
	.workspace__list{
		@extend %clr;
		margin-left: -20px;
	}
		.workspace__item{
			position: relative;
			float: left;
			margin-left: 20px;
			margin-bottom: 25px;
			width: 298px;
			height: 248px;
			background: #e3e3e3;
			border: 1px solid #fff;
			border-radius: 10px;
		}
		.workspace__item_create{
			background: #91cdcd;
			border: 1px dashed #fff;
			color: #fff;
			text-align: center;
			a{
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
			}
			.workspace__team{
				@include sized-sprite($icons, icon-collaboration_large);
				display: inline-block;
				margin-top: 40px;
				margin-bottom: 20px;
			}
			.workspace__title{
				text-transform: uppercase;
				font-weight: normal;
				color: #fff;
			}
			.workspace__info{
				text-transform: uppercase;
				font-weight: normal;
			}
		}
		.workspace__settings{
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			@include sized-sprite($icons, tools1);
		}
		.workspace__content{
			margin: 25px 5px 15px;
		}
		.workspace__title{
			margin-bottom: 15px;
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
			color: #000;
			font-weight: normal;
		}
		.workspace__media{
			position: relative;
			height: 106px;
			margin-bottom: 11px;
			background: #fff;
			overflow: hidden;
			img{
				display: block;
			}
		}
		.workspace__group{
			@include sized-sprite($icons, group_small);
			position: absolute;
			top: 5px;
			left: 5px;
		}
		.workspace__progress{
			background: #969696;
			height: 12px;
			margin-bottom: 10px;
			div{
				background: #52b5b7;
				height: 100%;
			}
		}
		.workspace__meta{
			@extend %clr;
			text-transform: uppercase;
			color: #4d4d4d;
			font-size: 10px;
			margin: 0 5px;
			strong{
				display: block;
				font-weight: normal;
				font-size: 17px;
			}
		}
		.workspace__files{
			float: left;
		}
		.workspace__space{
			float: right;
			text-align: right;
		}

.activity{
	padding: 17px 0 0 17px;
	color: #4d4d4d;
}
	.activity__title{
		position: relative;
		font-weight: normal;
		text-transform: uppercase;
		border-bottom: 2px solid #c9c9c9;
		line-height: 20px;
		height: 20px;
		padding-bottom: 15px;
		margin-bottom: 4px;
		cursor: pointer;
		&:after{
			position: absolute;
			top: 0;
			right: 0;
			width: 9px;
			height: 20px;
			background: #c9c9c9;
			content: "";
		}
	}
	.activity__list{
		li{
			list-style: none;
			padding-left: 10px;
			margin-bottom: 10px;
		}
	}
	.activity__project{
		height: 24px;
		line-height: 24px;
		font-size: 10px;
		color: #fff;
		text-transform: uppercase;
		font-weight: normal;
		background: #c9c9c9;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	.activity__info{
		font-size: 11px;
		strong{
			color: #000;
		}
	}
	.activity__time{
		font-size: 11px;
		color: #969696;
	}





//popup
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: 2000;
	background: rgba(#000,.6);
	@include transition(all 500ms linear);
	&.is-shown{
		opacity: 1;
	}
}
.popup{
	position: fixed;
	top: 185px;
	z-index: 2100;
	left: 50%;
	width: 300px;
	padding-top: 15px;
	margin-left: -150px;
	background: #e3e3e3;
	border: 1px solid #f8f8f8;
	border-radius: 10px;
	@include transform(translate3d(0,-700px,0));
	@include transition(all 500ms ceaser($easeInOutBack));
	&.is-shown{
		@include transform(translate3d(0,0,0));
	}
	.popup__header{
		text-align: center;
		margin-bottom: 15px;
		line-height: 1;
	}
	.popup__title{
		text-transform: uppercase;
		font-weight: normal;
	}
	.popup__share{
		display: inline-block;
		@include sized-sprite($icons, share_popup);
		vertical-align: top;
	}
	.popup__media{
		text-align: center;
		img{
			display: block;
			margin: 0 auto;
		}
	}
	.popup__content{
		padding: 20px 5px 6px;
	}
	.popup__menu{
		color: #c9c9c9;
		text-transform: uppercase;
		border-bottom: 2px solid #c9c9c9;
		margin-bottom: 15px;
		padding: 0 7px 7px;
		a{
			color: #c9c9c9;
			text-decoration: none;
		}
		ul{
			@extend %clr;
			margin-left: -37px;
		}
		li{
			float: left;
			margin-left: 37px;
			list-style: none;
			display: inline-block;
			&.is-active{
				color: #666;
				a{
					cursor: default;
					color: #666;
				}
			}
		}
	}
	.popup__info{

	}
	.popup_input{
		width: 278px;
		border: 0;
		border-radius: 10px;
		padding: 6px;
		font-size: 10px;
		margin-bottom: 12px;
	}
	.popup_textarea{
		margin-left: -5px;
		border: 0;
		width: 260px;
		padding: 13px 20px;
		resize: none;
		font-size: 10px;
		@include lite();
		height: 80px;
	}
	.popup__bottom{
		@extend %clr;
		padding: 0 5px 5px 5px;
		.button{
			height: 29px;
			line-height: 29px;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;
			background: #c9c9c9;
			text-align: center;
			display: block;
			width: 140px;
			float: left;
			border-radius: 10px;
		}
		.button_send{
			float: right;
			background: #52b5b7;
		}
	}
}